input[type='checkbox'] {
	position: relative;
	background: none;
	cursor: pointer;
	line-height: 0;
	margin: 0 0.6em 0 0;
	outline: 0;
	padding: 0 !important;
	vertical-align: text-top;
	-webkit-appearance: none;
	opacity: 0.5;

	@apply flex items-center justify-center w-5 h-5 transition-colors border-2 border-surface-6 rounded-lg;
}

input[type='checkbox']:hover {
	opacity: 1;
	@apply bg-transparent;
}

input[type='checkbox']:focus {
	opacity: 1;
	@apply border-2;
}

input[type='checkbox']:checked {
	opacity: 1;
	@apply bg-transparent border-primary-10;
}

input[type='checkbox']:checked:before {
	content: '';
	
	z-index: 2;
	@apply bg-primary-10 h-3 w-3 rounded-full;
}
