@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./scrollbar.css');
@import url('./utils.css');
@import url('./checkbox.css');
@import url('./fonts.css');

@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-dark.css';

@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-dark.css';

@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/purple-dark.css';

@import '@radix-ui/colors/tomato.css';
@import '@radix-ui/colors/tomato-dark.css';

@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/amber-dark.css';

@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/green-dark.css';
/*
    Chrome Extension: Use max-width and max-height
*/

:root {
	/* Grayscale */
	--apple-black: #000000;
	--apple-gray-1: #1C1C1E;
	--apple-gray-2: #2C2C2E;
	--apple-gray-3: #3A3A3C;
	--apple-gray-4: #48484A;
	--apple-gray-5: #636366;
	--apple-gray-6: #8E8E93;
	--apple-gray-7: #AEAEB2;
	--apple-gray-8: #C7C7CC;
	--apple-gray-9: #D1D1D6;
	--apple-gray-10: #E5E5EA;
	--apple-gray-11: #F2F2F7;
	--apple-white: #FFFFFF;

	/* System Colors */
	--apple-blue: #007AFF;
	--apple-green: #34C759;
	--apple-indigo: #5856D6;
	--apple-orange: #FF9500;
	--apple-pink: #FF2D55;
	--apple-purple: #AF52DE;
	--apple-red: #FF3B30;
	--apple-teal: #64D2FF;
	--apple-yellow: #FFCC00;

	/* System Gray Colors */
	--apple-system-gray: #8E8E93;
	--apple-system-gray-2: #AEAEB2;
	--apple-system-gray-3: #C7C7CC;
	--apple-system-gray-4: #D1D1D6;
	--apple-system-gray-5: #E5E5EA;
	--apple-system-gray-6: #F2F2F7;
}

* {
	box-sizing: border-box;
	cursor: default !important;
	@apply outline-primary-8 outline-1;
}

html,
body {
	font-size: 13px;
  	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	@apply select-none scroll-smooth;
}

.app-noise {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(to right, blue, rgba(0, 0, 0, 0)),
		url('https://grainy-gradients.vercel.app/noise.svg');
	filter: contrast(170%) brightness(1000%);
}

.noise-overlay {
	background: moccasin;
	mix-blend-mode: multiply;
}

.app-bg-isolate {
	isolation: isolate;
}

main {
	padding-bottom: 4rem;
}

/*
    Chrome Extension: Use min-width and min-height
*/

#app-container {
	width: 100%;
}

svg {
	stroke-width: 1.5px !important;
}

p,
span {
	@apply outline-none;
}

button {
	@apply flex items-center gap-2 p-1 font-semibold text-surface-11;
}

.grid-day {
	@apply grid-cols-[24];
}

.font-mono {
	font-family: 'JetBrains Mono', monospace;
}


input {
	@apply focus:border-0 focus:ring-0 active:border-0 active:ring-0;
}

.ProseMirror {
	@apply focus:outline-none focus:ring-0;
}

.prose :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
	@apply !my-0;
}