@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    Chrome Extension: Use max-width and max-height
*/

html,
body {
  font-family: "SF Pro Rounded", sans-serif;
  font-weight: 500;
}

/*
    Chrome Extension: Use min-width and min-height
*/

#app-container {
  max-width: 480px;
  width: 100%;
}

svg {
  @apply stroke-2;
}
