.horizontal-scroll {
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	scrollbar-width: none;
	-moz-scrollbars-none: none;
}

.horizontal-scroll:-webkit-scrollbar {
	display: none;
}

nav {
	-webkit-app-region: drag;
}
